<template>

<div></div>
  
</template>

<script>
// import VueApexCharts from "vue3-apexcharts";
export default {
  components: {
    // apexchart: VueApexCharts,
  },
  data: function () {
    return {
 series: [{
            name: 'V12',
            data: [0]
          }, {
            name: 'V23',
            data: [0]
          },
          {
            name: 'V31',
            data: [0]
          }
        ],
          chartOptions: {
            chart: {
              height: 350,
              type: 'area'
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            xaxis: {
              type: 'datetime',
              categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
            },
            tooltip: {
              x: {
                format: 'dd/MM/yy HH:mm'
              },
            },
          },
          seriesCCC: [{
            name: 'I0',
            data: [0,1,5,2,2,3,4]
          }, {
            name: 'I1',
            data: [1,2,1,3,5,4,1]
          },
          {
            name: 'I2',
            data: [0,1,1,1,2,1,2]
          },
          {
            name: 'I3',
            data: [2,2,1,1,2,4,3]
          }
        ],
          chartOptionsCCC: {
            chart: {
              height: 350,
              type: 'area'
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            xaxis: {
              type: 'datetime',
              categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
            },
            tooltip: {
              x: {
                format: 'dd/MM/yy HH:mm'
              },
            },
          },

          seriesPPP: [ {
            name: 'kW1',
            data: [101,102,101,103,105,104,101]
          },
          {
            name: 'kW2',
            data: [200,201,201,201,202,201,202]
          },
          {
            name: 'kW3',
            data: [200,202,151,201,200,204,203]
          }
        ],
          chartOptionsPPP: {
            chart: {
              height: 350,
              type: 'area'
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            xaxis: {
              type: 'datetime',
              categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
            },
            tooltip: {
              x: {
                format: 'dd/MM/yy HH:mm'
              },
            },
          },
    };
  },

  methods: {
    updateChart() {
      const max = 90;
      const min = 20;
      const newData = this.series[0].data.map(() => {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      });

      const colors = ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0"];

      // Make sure to update the whole options config and not just a single property to allow the Vue watch catch the change.
      this.chartOptions = {
        colors: [colors[Math.floor(Math.random() * colors.length)]],
      };

      // In the same way, update the series option
      this.series = [
        {
          data: newData,
        },
      ];
      /** If i try to change the type i will get an error */
      this.type = "line";
    },
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
div
{
    font-family: 'Prompt', sans-serif;
    /* font-family: 'Itim', cursive; */
    /* color: rgb(92, 91, 91); */
}
.nav-pills .nav-link.active {
    /* background-color: hsl(130, 500%, 61%) !important; */
    background-color:#18a6ed96!important;
    color: #ffffff !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(22, 117, 65);
  border-radius: 50%;
  display: inline-block;
}
.sidebar {
position: fixed 
}
</style>