<template>

    <!DOCTYPE html>
    <html>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <body >
  <div  >
  <!-- Banner  -->
  <img style=" position:absolute;
   width:1920px;
    z-index: 0;" src="../img/S7/เคมี_.png" > 
    <img style=" position:absolute; width:470px;"
     src="../assets/Control/PapaLogo.png" > 
  
  
  <!-- Text Banner -->
  <div style="position:absolute;
  top: 20px;
  left: 750px;
  z-index: 0;">
  <div class="text-center" style="font-size:46px;color:#449fd5">
ระบบจ่ายแก๊สคลอรีน
  </div>
  </div> 
    
  <!-- <div style="  position:absolute;
  top: 480px;
  left: 35px;
  z-index: 0;
  font-size:12px;
  " class="">
  <router-link
    style="text-decoration: none; color: inherit;" to="/"> <button type="button" class="btn btn-outline-dark">BACK HOME</button> </router-link>
  </div>     -->
  
  <!-- control banner --> 
  <div style="position:absolute;
  top: 20px;
  left: 1480px;
  z-index: 0;">
  <div class="col">
  <router-link
  style="text-decoration: none; color: inherit;" to="/login">   <img style=" width:60px;" src="../assets/Control/PbLogin.png"></router-link>
  
  
  </div>
  </div>
  
  <div style="position:absolute;
  top: 20px;
  left: 1550px;
  z-index: 0;">
  <div class="col">
  <router-link
  style="text-decoration: none; color: inherit;" to="/chart">    <img style=" width:60px;" src="../assets/Control/PbTrend.png"> </router-link>
  
  </div>
  </div>
  
  <div style="position:absolute;
  top: 20px;
  left: 1620px;
  z-index: 0;">
  <div class="col">
  <router-link
  style="text-decoration: none; color: inherit;" to="/notification">  <img style=" width:60px;" src="../assets/Control/PbAlarm.png"> </router-link>
  </div>
  </div>
  
  <div style="position:absolute;
  top: 20px;
  left: 1690px;
  z-index: 0;">
  <div class="col">
  <router-link
  style="text-decoration: none; color: inherit;" to="/setting"><img style=" width:60px;" src="../assets/Control/PbSetting.png"> </router-link>
  </div>
  </div>
  
  <div style="position:absolute;
  top: 20px;
  left: 1760px;
  z-index: 0;">
  <div class="col">
  <router-link
    style="text-decoration: none; color: inherit;" to="/">  <img style=" width:60px;" src="../assets/Control/Back.png"> </router-link>
  </div>
  </div>
  
  
  <!-- label images -->
  <img style=" position:absolute; 
  top: 765px;
  left: 705px;
  width:90px;
  height:50px;
  "
  
  src="../img/Control/PopupTemp2.png" > 
  
  <div style="position:absolute;
  top: 766px;
  left: 725px;
  z-index: 0;">
  <div class="col text-white text-center" style="font-size:14px">
    FA-01
    </div>
  <div class="text-center col text-success " style="font-size:18px">
  {{textpayload.fa01}} LPH
  </div>
  </div>
  
  <img style=" position:absolute; 
  top: 765px;
  left: 810px;
  width:90px;
  height:50px;
  "
  
  src="../img/Control/PopupTemp2.png" > 
  
  <div style="position:absolute;
  top: 766px;
  left: 825px; 
  z-index: 0;">
  <div class="col text-white text-center" style="font-size:14px">
    FA-02
    </div>
  <div class="text-center col text-success " style="font-size:18px">
  {{textpayload.fa02}} LPH
  </div>
  </div>
  
  <img style=" position:absolute; 
  top: 765px;
  left: 920px;
  width:90px;
  height:50px;
  "
  
  src="../img/Control/PopupTemp2.png" > 
  
  <div style="position:absolute;
  top: 766px;
  left: 935px;
  z-index: 0;">
  <div class="col text-white text-center" style="font-size:14px">
    FA-03
    </div>
  <div class="text-center col text-success " style="font-size:18px">
  {{textpayload.fa03}} LPH
  </div>
  </div> 

  <img style=" position:absolute; 
  top: 765px;
  left: 1030px;
  width:90px;
  height:50px;
  "
  
  src="../img/Control/PopupTemp2.png" > 
  
  <div style="position:absolute;
  top: 766px;
  left: 1043px;
  z-index: 0;">
  <div class="col text-white text-center" style="font-size:14px">
    FA-04
    </div>
  <div class="text-center col text-success " style="font-size:18px">
  {{textpayload.fa04}} LPH
  </div> 
  </div>
  
  
  <img style=" position:absolute; 
  top: 890px;
  left: 543px;
  width:150px;"
  src="../img/Control/PopupTemp2.png" > 
  
  <div style="position:absolute;
  top: 890px;
  left: 588px;
  z-index: 0;">
  <div class="text-center col text-white" style="font-size:14px">
    pH-1
    </div>
  <div class="text-center col text-success h5">
  {{textpayload.ph01}} pH
  </div>
  </div>  

  <img style=" position:absolute; 
  top: 830px;
  left: 543px;
  width:150px;"
  src="../img/Control/PopupTemp2.png" > 
  
  <div style="position:absolute;
  top: 830px;
  left: 588px;
  z-index: 0;">
  <div class="text-center col text-white" style="font-size:14px">
    THD-1
    </div>
  <div class="text-center col text-success h5">
  {{textpayload.thd01}} NTU
  </div> 
  </div>  
  
   
  <img style=" position:absolute; 
  top: 900px;
  left:200px;
  width:150px;"
  src="../img/Control/PopupFlow.png" > 
  
  <div style="position:absolute;
  top: 900px;
  left: 230px;
  z-index: 0;">
  <div class="text-center col text-white" style="font-size:12px">
    FM-1 [FLOW]
    </div>
  <div class="text-end col text-success ps-5 " style="font-size:14px">
    {{ textpayload.fm1.rate }} m3/hr
  </div>
  <div class="text-end col text-success ps-5 " style="font-size:14px">
    {{ textpayload.fm1.total }} m3
  </div>
  </div>
  
  
  
  
  <!-- motor -->
  <div style="position:absolute;
  top: 965px; 
  left: 1221px;
  z-index: 0;
  ">
  <div class="col">
    <a  data-bs-toggle="modal" data-bs-target="#exampleModal" v-if="motor1==1"><img style=" width:90px;" src="../assets/Pump/pump_LG.png"></a>
    <a  data-bs-toggle="modal" data-bs-target="#exampleModal" v-else-if="motor1==0"><img style=" width:90px;" src="../assets/Pump/pump_LGr.png"></a>
    <br>
  </div>
  </div>
  
  <div style="position:absolute;
  top: 965px;
  left: 1352px;
  z-index: 0;
  "> 
  <div class="col">
    <a  data-bs-toggle="modal" data-bs-target="#exampleModal" v-if="motor2==1"><img style=" width:90px;" src="../assets/Pump/pump_LG.png"></a>
    <a  data-bs-toggle="modal" data-bs-target="#exampleModal" v-else-if="motor2==0"><img style=" width:90px;" src="../assets/Pump/pump_LGr.png"></a>
    <br>
  </div>
  </div>
  
  
  <!-- pump chamical -->
  
  <div style="position:absolute;
  top: 939px;
  left: 703px; 
  z-index: 0;"> 
  <div class="col">
    <a @click="Redirect" v-if="chemicalPump1==1"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Run).png"></a>
    <a @click="Redirect" v-else-if="chemicalPump1==2"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Fault1).png"></a>
    <a @click="Redirect" v-else><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Stop).png"></a>
    <br>
  </div>
  </div>
 
  <div style="position:absolute;
  top: 939px;
  left: 810px;
  z-index: 0;">
  <div class="col">
    <a @click="Redirect" v-if="chemicalPump2==1"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Run).png"></a>
    <a @click="Redirect" v-else-if="chemicalPump2==2"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Fault1).png"></a>
    <a @click="Redirect" v-else><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Stop).png"></a>
    <br>
  </div>
  </div>

  <div style="position:absolute;
  top: 939px;
  left: 920px;
  z-index: 0;">
  <div class="col">
    <a @click="Redirect" v-if="chemicalPump3==1"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Run).png"></a>
    <a @click="Redirect" v-else-if="chemicalPump3==2"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Fault1).png"></a>
    <a @click="Redirect" v-else><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Stop).png"></a>
    <br>
  </div>
  </div>

  <div style="position:absolute;
  top: 939px;
  left: 1025px;
  z-index: 0;">
  <div class="col">
    <a @click="Redirect" v-if="chemicalPump4==1"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Run).png"></a>
    <a @click="Redirect" v-else-if="chemicalPump4==2"><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Fault1).png"></a>
    <a @click="Redirect" v-else><img style=" width:50px;" src="../assets/Pump/ChemailcPump(Stop).png"></a>
    <br>
  </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">การควบคุม</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div>
          Please Login
        </div>
          <!-- <div id="chart">
                
          <apexchart type="line" height="220" :options="chartOptions" :series="series"></apexchart>
          <apexchart type="line" height="220" :options="chartOptions2" :series="series2"></apexchart>
          <apexchart type="line" height="220" :options="chartOptions3" :series="series3"></apexchart>
        </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Flow -->
  <div class="modal fade" id="exampleModalFlow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">การควบคุม</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="chart">
          <apexchart type="line" height="300" :options="chartOptions4" :series="series4"></apexchart>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Pressure -->
  <div class="modal fade" id="exampleModalPressure" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="chart">
          <apexchart type="line" height="300" :options="chartOptions5" :series="series5"></apexchart>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div style="  position:absolute;top: 140px;left: 1150px;z-index: 1;width:25%;"></div>
  </div>
  </body>
  </html>
    
  </template>
  
  <script>
  import SocketioService from '../services/socketio.service.js';
  import VueApexCharts from "vue3-apexcharts";
  export default {
    components: {
      apexchart: VueApexCharts,
    },
    data: function () {
      return {
        textpayload:{
          fa01:0.0,
          fa02:0.0,
          fa03:0.0,
          fa04:0.0,

          thd01:0.0,
          ph01:0.0,

          fm1:{
            rate:0.0,
            total:0.0
          },
        },
        motor1:0,
        motor2:0,
        chemicalPump1:0,
        chemicalPump2:0,
        chemicalPump3:0,
        chemicalPump4:0,

      };
  
      
    },
    created() {
    SocketioService.setupSocketConnection();
  },
  beforeUnmount() {
    SocketioService.disconnect();
  },
  mounted() {
    console.log('mounted!')


setInterval(this.greetings, 3000);
  },
    methods: {
        
      greetings() {
      this.socketpayload=SocketioService.payload;
      var loadChemi=this.socketpayload.data.chemical;
      console.log(loadChemi);
      this.motor1 = loadChemi.BP_1.STATE;
      this.motor2 = loadChemi.BP_2.STATE;

      this.chemicalPump1 = loadChemi.FA_1.STATE;
      this.chemicalPump2 = loadChemi.FA_2.STATE;
      this.chemicalPump3 = loadChemi.FA_3.STATE;
      this.chemicalPump4 = loadChemi.FA_4.STATE;

      // this.textpayload.ph01 = loadChemi.pH_01.Scaled;
      // this.textpayload.thd01= loadChemi.THD_01.Scaled;

      // this.textpayload.fm1.total = loadChemi.FT_01.TotalFlow;

      // this.textpayload.fa01 = loadChemi.FA_1.Monitor_SPD;
      // this.textpayload.fa02 = loadChemi.FA_2.Monitor_SPD;
      // this.textpayload.fa03 = loadChemi.FA_3.Monitor_SPD;
      // this.textpayload.fa04 = loadChemi.FA_4.Monitor_SPD;

      // this.textpayload.hlt01 = SocketioService.payload.LT_01_Scaled;
      // this.textpayload.pressure = SocketioService.payload.PT_01_Scaled;
    }
    },
  };
  </script>
  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  
  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #18bd31;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(203, 203, 203);
  }
  div
  {
      font-family: 'Prompt', sans-serif;
      /* font-family: 'Itim', cursive; */
      /* color: rgb(92, 91, 91); */
  }
  .nav-pills .nav-link.active {
      /* background-color: hsl(130, 500%, 61%) !important; */
      background-color:#18a6ed96!important;
      color: #ffffff !important;
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: rgb(22, 117, 65);
    border-radius: 50%;
    display: inline-block;
  }
  .sidebar {
  position: fixed 
  }
  
  
  </style>