<template>

  <!DOCTYPE html>
  <html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<body>
  <div style="  position:absolute;
  top: 140px;
  left: 700px;
  z-index: 1;
  width:25%;
  ">
<div class="h3">POWER INFO <router-link class="w3-bar-item w3-button  text-info  fs-5" to="/"> กลับไปยังหน้าหลัก</router-link></div>
<button class="btn btn-dark" type="button" style=";"><router-link  class=" text-info  fs-6" to="/chart" style="text-decoration: none; color: inherit;">กราฟ</router-link></button>

  <table class="border">
    <tr style="background-color:grey;">
      <th style="width:120px;">Name Power</th>
      <th style="width:120px;">Value</th>
      <th style="width:120px;">Unit</th>
    </tr>
 
    <tr>
      <td>V12</td>
      <td>220</td>
      <td>Voltage</td>
    </tr>

    <tr>
      <td>V23</td>
      <td>220</td>
      <td>Voltage</td>
    </tr>

    <tr>
      <td>V31</td>
      <td>220</td>
      <td>Voltage</td>
    </tr>

    <tr>
      <td>V1N</td>
      <td>220</td>
      <td>Voltage</td>
    </tr>

    <tr>
      <td>V2N</td>
      <td>220</td>
      <td>Voltage</td>
    </tr>

    <tr>
      <td>V3N</td>
      <td>2.2</td>
      <td>Voltage</td>
    </tr>

    <tr>
      <td>I0</td>
      <td>2.2</td>
      <td>Amp</td>
    </tr>

    <tr>
      <td>I1</td>
      <td>2.2</td>
      <td>Amp</td>
    </tr>

    <tr>
      <td>I2</td>
      <td>2.2</td>
      <td>Amp</td>
    </tr>

    <tr>
      <td>I3</td>
      <td>2.2</td>
      <td>Amp</td>
    </tr>

    <tr>
      <td>kW1</td>
      <td>2.2</td>
      <td>kW</td>
    </tr>

    <tr>
      <td>kW2</td>
      <td>2.2</td>
      <td>kW</td>
    </tr>

    <tr>
      <td>kW3</td>
      <td>2.2</td>
      <td>kW</td>
    </tr>

    <tr>
      <td>kVAR1</td>
      <td>2.2</td>
      <td>kVAR</td>
    </tr>

    <tr>
      <td>kVAR2</td>
      <td>2.2</td>
      <td>kVAR</td>
    </tr>

    <tr>
      <td>kVAR3</td>
      <td>2.2</td>
      <td>kVAR</td>
    </tr>


    <tr>
      <td>kVA1</td>
      <td>2.2</td>
      <td>kVA</td>
    </tr>

    <tr>
      <td>kVA2</td>
      <td>2.2</td>
      <td>kVA</td>
    </tr>

    <tr>
      <td>kVA3</td>
      <td>2.2</td>
      <td>kVA</td>
    </tr>

    <tr>
      <td>pf</td>
      <td>1</td>
      <td>-</td>
    </tr>
  </table>


  </div>
</body>
</html>
  
</template>

<script>
// import VueApexCharts from "vue3-apexcharts";
export default {
  components: {
    // apexchart: VueApexCharts,
  },
  data: function () {
    return {
      series5: [
            {
              name: "Pressure",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions5: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#EF5350'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Pressure'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          }, 
      series4: [
            {
              name: "Flow Rate",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions4: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#F57F17'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Flow Rate'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          }, 
      series3: [
            {
              name: "Power",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions3: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#F57F17'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Power'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },  
      series2: [
            {
              name: "Current",
              data: [2.1, 2.2, 2.3, 2.6, 2.2, 2.2, 2.3]
            },
          ],
          chartOptions2: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#545454'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Current'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },      
      series: [
            {
              name: "High - 2013",
              data: [220, 229, 223, 226, 222, 222, 223]
            },
          ],
          chartOptions: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#77B6EA', '#545454'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Voltage'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },
    };

    
  },

  methods: {
    updateChart() {
      const max = 90;
      const min = 20;
      const newData = this.series[0].data.map(() => {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      });

      const colors = ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0"];

      // Make sure to update the whole options config and not just a single property to allow the Vue watch catch the change.
      this.chartOptions = {
        colors: [colors[Math.floor(Math.random() * colors.length)]],
      };

      // In the same way, update the series option
      this.series = [
        {
          data: newData,
        },
      ];
      /** If i try to change the type i will get an error */
      this.type = "line";
    },
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #18bd31;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(203, 203, 203);
}
div
{
    font-family: 'Prompt', sans-serif;
    /* font-family: 'Itim', cursive; */
    /* color: rgb(92, 91, 91); */
}
.nav-pills .nav-link.active {
    /* background-color: hsl(130, 500%, 61%) !important; */
    background-color:#18a6ed96!important;
    color: #ffffff !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(22, 117, 65);
  border-radius: 50%;
  display: inline-block;
}
.sidebar {
position: fixed 
}
</style>