<template>

  <!DOCTYPE html>
  <html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<body >
<div  >

  <div style="  position:absolute;
  top: 80px;
  left: 200px;
  z-index: 1;
  font-size:12px;
  " class="">
 
    <router-link
    style="text-decoration: none; color: inherit;" to="/Lamtakong"> <button type="button" class="btn btn-outline-dark">แพสูบน้ำดิบลำตะคอง</button></router-link>
  
  </div>

  <div style="  position:absolute;
  top: 480px;
  left: 500px;
  z-index: 1;
  font-size:12px;
  " class="">
 
    <router-link
    style="text-decoration: none; color: inherit;" to="/chemical"> <button type="button" class="btn btn-outline-dark">ระบบจ่ายแก๊สคลอรีน</button></router-link>
  
  </div>

  <div style="  position:absolute;
  top: 80px;
  left: 950px;
  z-index: 1;
  font-size:12px;
  " class="">
  <router-link
    style="text-decoration: none; color: inherit;" to="/Sikhio"> <button type="button" class="btn btn-outline-dark"> สถานีผลิตจ่ายน้ำสีคิ้ว</button></router-link>
  </div>
  
  <div style="  position:absolute;
  top: 550px;
  left: 200px;
  z-index: 1;
  font-size:12px;
  " class="">
  <router-link
    style="text-decoration: none; color: inherit;" to="/Sungnoen"><button type="button" class="btn btn-outline-dark">สถานีจ่ายน้ำสูงเนิน</button></router-link>
  </div>

  <div style="  position:absolute;
  top: 550px;
  left: 980px;
  z-index: 1;
  font-size:12px;
  " class="">
  <router-link
    style="text-decoration: none; color: inherit;" to="/Khamtalayso"><button type="button" class="btn btn-outline-dark">สถานีจ่ายน้ำขามทะเลสอ</button></router-link>
  </div>

  <div style="  position:absolute;
  top: 185px;
  left: 690px;
  z-index: 1;
  font-size:12px;
  " class="">
  <router-link
    style="text-decoration: none; color: inherit;" to="/Silt"><button type="button" class="btn btn-outline-dark">ถังตกตะกอน</button></router-link>
  </div>


<div style="  position:absolute;
top: 220px;
left: 240px;
z-index: 1;
font-size:12px;
" class="">
  <div>RWP01</div>
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
  <!-- <button class="" type="button" style=";">Start</button> -->
  <div class="mt-2">RWP02</div>
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
  <div  class="mt-2">RWP03</div>
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
</div>

<div style="  position:absolute;
top: 150px;
left: 1090px;
z-index: 1;
font-size:12px;
" class="">
  <div>RWP01</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
  <!-- <button class="btn btn-primary" type="button" style=";">Start</button> -->
  <div class="mt-2">RWP02</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
  <div  class="mt-2">RWP03</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
  <div  class="mt-2">RWP04</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
</div>

<div style="  position:absolute;
top: 690px;
left: 510px;
z-index: 1;
font-size:12px;
" class="">
  <div>RWP01</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
  <div class="mt-2">RWP02</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
</div>

<div style="  position:absolute;
top: 690px;
left: 1175px;
z-index: 1;
font-size:12px;
" class="">
  <div>RWP01</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
  <div class="mt-2">RWP02</div>
    <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:#2979FF;
  border: none;">Chart</button>
</div>

<!-- <div style="  position:absolute;
top: 270px;
left: 970px;
z-index: 1;
font-size:14px;
">
<div class="mt-3"><a href="">PCV-1</a>: Open</div>
<div class="mt-3"><a href="">PCV-2</a>: Open</div>
<div class="mt-3"><a href="">PCV-3</a>: Open</div>
</div> -->

<div style="  position:absolute;
top: 245px;
left: 475px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Flow</div>
<div class="col border text-primary">12345.6</div>
<div class="col">m3/h</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#64B5F6;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 460px;
left: 1480px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col ">Flow</div>
<div class="col border text-primary">12345.6</div>
<div class="col">m3/h</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#64B5F6;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 340px;
left: 1480px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Flow</div>
<div class="col border text-primary">12345.6</div>
<div class="col">m3/h</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#64B5F6;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 808px;
left: 1445px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Flow</div>
<div class="col border text-primary">12345.6</div>
<div class="col">m3/h</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#64B5F6;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 808px;
left: 745px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Flow</div>
<div class="col border text-primary">12345.6</div>
<div class="col">m3/h</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#64B5F6;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 755px;
left: 220px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Flow</div>
<div class="col border text-primary">12345.6</div>
<div class="col">m3/h</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#64B5F6;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 495px;
left: 995px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Level</div>
<div class="col border ">1234.5</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#3F51B5;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 850px;
left: 540px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Level</div>
<div class="col border ">1234.5</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalFlow" style="color:white;background-color:#3F51B5;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 430px;
left: 260px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Pressure</div>
<div class="col border text-danger">1234.5</div>
<div class="col">bar</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalPressure" style="color:white;background-color:#EF5350;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 745px;
left: 740px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Pressure</div>
<div class="col border text-danger">1234.5</div>
<div class="col">bar</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalPressure" style="color:white;background-color:#EF5350;
  border: none;">Chart</button>
</div>
</div>
</div>

<div style="  position:absolute;
top: 745px;
left: 1443px;
z-index: 1;
font-size:14px;
">
<div class="row">
<div class="col">Pressure</div>
<div class="col border text-danger">1234.5</div>
<div class="col">bar</div>
<div class="col">
  <button type="button"  class="" data-bs-toggle="modal" data-bs-target="#exampleModalPressure" style="color:white;background-color:#EF5350;
  border: none;">Chart</button>
</div>
</div>
</div>



  <img style=" position:absolute;
  top: 80px;
  left: 250px;width:1345px;
  z-index: 0;" src="../assets/D2.png" >  
  
<div style="position:absolute;
top: 220px;
left: 380px;
z-index: 0;">
<div class="col">
  <input class="" type="radio" id="age1" name="age1" value="30" checked>
  <label for="age1" style="font-size:10px" class="ms-1">Pump1</label>
  <br>
  <input class="mt-5" type="radio" id="age2" name="age2" value="30" checked>
  <label for="age1" style="font-size:10px" class="ms-1">Pump2</label>
  <br>
  <input class="mt-5" type="radio" id="age3" name="age3" value="30" checked>
  <label for="age1" style="font-size:10px" class="ms-1">Pump3</label>
  <br>
</div>
</div>

<div style="position:absolute;
top: 680px;
left: 655px;
z-index: 0;">

<div class="col">
  <input class="" type="radio" id="ss1" name="ss1" value="30" checked>
  <label for="ss1" style="font-size:10px" class="ms-1">Pump1</label>
  <br>
  <input class="mt-5" type="radio" id="ss2" name="ss2" value="30" checked>
  <label for="ss1" style="font-size:10px" class="ms-1">Pump2</label>
  <br>
  
</div>
</div>

<div style="position:absolute;
top: 685px;
left: 1320px;
z-index: 0;">

<div class="col">
  <input class="" type="radio" id="sss1" name="sss1" value="30" checked>
  <label for="sss1" style="font-size:10px" class="ms-1">Pump1</label >
  <br>
  <input class="mt-5" type="radio" id="sss2" name="sss2" value="30" checked>
  <label for="sss1" style="font-size:10px" class="ms-1">Pump2</label>
  <br>
  
</div>
</div>

<div style="position:absolute;
top: 143px;
left: 1230px;
z-index: 1;">
<div class="col">
  <input class="" type="radio" id="s1" name="s1" value="30" checked>
  <label for="s1" style="font-size:10px" class="ms-1">Pump1</label >
  <br>
  <input class="mt-5" type="radio" id="s2" name="s2" value="30" checked>
  <label for="s1" style="font-size:10px" class="ms-1">Pump2</label>
  <br>
  <input class="mt-5" type="radio" id="s3" name="s3" value="30">
  <label for="s1" style="font-size:10px" class="ms-1">Pump3</label>
  <br>
  <input class="mt-5" type="radio" id="s4" name="s4" value="30">
  <label for="s1" style="font-size:10px" class="ms-1">Pump4</label>
  <br>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="chart">
        <apexchart type="line" height="220" :options="chartOptions" :series="series"></apexchart>
        <apexchart type="line" height="220" :options="chartOptions2" :series="series2"></apexchart>
        <apexchart type="line" height="220" :options="chartOptions3" :series="series3"></apexchart>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Flow -->
<div class="modal fade" id="exampleModalFlow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="chart">
        <apexchart type="line" height="300" :options="chartOptions4" :series="series4"></apexchart>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Pressure -->
<div class="modal fade" id="exampleModalPressure" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="chart">
        <apexchart type="line" height="300" :options="chartOptions5" :series="series5"></apexchart>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div style="  position:absolute;top: 140px;left: 1150px;z-index: 1;width:25%;"></div>
</div>
</body>
</html>
  
</template>

<script>
import VueApexCharts from "vue3-apexcharts";
export default {
  components: {
    apexchart: VueApexCharts,
  },
  data: function () {
    return {
      series5: [
            {
              name: "Pressure",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions5: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#EF5350'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Pressure'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          }, 
      series4: [
            {
              name: "Flow Rate",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions4: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#F57F17'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Flow Rate'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          }, 
      series3: [
            {
              name: "Power",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions3: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#F57F17'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Power'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },  
      series2: [
            {
              name: "Current",
              data: [2.1, 2.2, 2.3, 2.6, 2.2, 2.2, 2.3]
            },
          ],
          chartOptions2: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#545454'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Current'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },      
      series: [
            {
              name: "High - 2013",
              data: [220, 229, 223, 226, 222, 222, 223]
            },
          ],
          chartOptions: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#77B6EA', '#545454'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Voltage'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },
    };

    
  },

  methods: {
    updateChart() {
      const max = 90;
      const min = 20;
      const newData = this.series[0].data.map(() => {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      });

      const colors = ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0"];

      // Make sure to update the whole options config and not just a single property to allow the Vue watch catch the change.
      this.chartOptions = {
        colors: [colors[Math.floor(Math.random() * colors.length)]],
      };

      // In the same way, update the series option
      this.series = [
        {
          data: newData,
        },
      ];
      /** If i try to change the type i will get an error */
      this.type = "line";
    },
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #18bd31;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(203, 203, 203);
}
div
{
    font-family: 'Prompt', sans-serif;
    /* font-family: 'Itim', cursive; */
    /* color: rgb(92, 91, 91); */
}
.nav-pills .nav-link.active {
    /* background-color: hsl(130, 500%, 61%) !important; */
    background-color:#18a6ed96!important;
    color: #ffffff !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(22, 117, 65);
  border-radius: 50%;
  display: inline-block;
}
.sidebar {
position: fixed 
}
</style>