<template>

  <!DOCTYPE html>
  <html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<body >
<div  >
<!-- Banner -->
<img style=" position:absolute;
 width:1920px;
  z-index: 0;" src="../img/S2/ถังตกตะกอน_.png" > 
  <img style=" position:absolute; width:470px;"
   src="../assets/Control/PapaLogo.png" > 


<!-- Text Banner -->
<div style="position:absolute;
top: 20px;
left: 800px;
z-index: 0;">
<div class="text-center" style="font-size:46px;color:#449fd5">
    ถังตกตะกอน
</div>
</div> 
<!-- Text up -->
<div style="position:absolute;
top: 152px;
left: 45px;
z-index: 0;">
<div class="text-start col text-white" style="font-size:18px">
  VALVE
</div>
<div class="text-start col text-white" style="font-size:18px">
  AUTO
</div>
<div class="text-start col text-white" style="font-size:18px">
  OPEN/CLOSE
</div>
</div>

<div style="position:absolute;
top: 152px;
left: 180px;
z-index: 0; display: flex;
flex-direction: row " >
<div v-for="n in 27" v-bind:key="n" v-bind:items="n" class="ms-2">
  <div class="text-white text-center">{{ n+27 }}</div>
  <div class="text-center">  
    <img class="mt-2"
    style="width:19px;"
    src="../img/Control/LampGY.png" > 
  </div>
  <div class="text-center">  
    <img class="mt-2"
    style="width:19px;"
    src="../img/Control/LampGY.png" > 
  </div>
  <div class="mt-2">
    <button type="button" class="btn btn-secondary" style="height:30px;width:55px;font-size:10px">OPEN</button>
  </div>
  <div class="mt-2">
    <button type="button" class="btn btn-secondary text-danger" style="height:30px;width:55px;font-size:10px">CLOSE</button>
  </div>  
</div>
</div>

<!-- Text down -->
<div style="position:absolute;
top: 882px;
left: 45px;
z-index: 0;">
<div class="text-start col text-white" style="font-size:18px">
  VALVE
</div>
<div class="text-start col text-white" style="font-size:18px">
  AUTO
</div>
<div class="text-start col text-white" style="font-size:18px">
  OPEN/CLOSE
</div>
</div>



<div style="position:absolute;
top: 882px;
left: 180px;
z-index: 0; display: flex;
flex-direction: row "  >
<div v-for="n in 27" v-bind:key="n" v-bind:items="n" class="ms-2">
  <div class="text-white text-center">{{ n }}</div>
  <div class="text-center">  
    <img class="mt-2"
    style="width:19px;"
    src="../img/Control/LampGY.png" > 
  </div>
  <div class="text-center">  
    <img class="mt-2"
    style="width:19px;"
    src="../img/Control/LampGY.png" > 
  </div>
  <div class="mt-2">
    <button type="button" class="btn btn-secondary" style="height:30px;width:55px;font-size:10px">OPEN</button>
  </div>
  <div class="mt-2">
    <button type="button" class="btn btn-secondary text-danger" style="height:30px;width:55px;font-size:10px">CLOSE</button>
  </div>  
</div>
</div>


<!-- control banner --> 
<div style="position:absolute;
top: 20px;
left: 1480px;
z-index: 0;">
<div class="col">
<router-link
style="text-decoration: none; color: inherit;" to="/login">   <img style=" width:60px;" src="../assets/Control/PbLogin.png"></router-link>
</div>
</div>

<div style="position:absolute;
top: 20px;
left: 1550px;
z-index: 0;">
<div class="col">
<router-link
style="text-decoration: none; color: inherit;" to="/chart">    <img style=" width:60px;" src="../assets/Control/PbTrend.png"> </router-link>
</div>
</div>




<div style="position:absolute;
top: 20px;
left: 1620px;
z-index: 0;">
<div class="col">
<router-link
style="text-decoration: none; color: inherit;" to="/notification">  <img style=" width:60px;" src="../assets/Control/PbAlarm.png"> </router-link>
</div>
</div>

<div style="position:absolute;
top: 20px;
left: 1690px;
z-index: 0;">
<div class="col">
<router-link
style="text-decoration: none; color: inherit;" to="/setting"><img style=" width:60px;" src="../assets/Control/PbSetting.png"> </router-link>
</div>
</div>

<div style="position:absolute;
top: 20px;
left: 1760px;
z-index: 0;">
<div class="col">
<router-link
  style="text-decoration: none; color: inherit;" to="/">  <img style=" width:60px;" src="../assets/Control/Back.png"> </router-link>
</div>
</div>

<!-- payload Images -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">การควบคุม</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div>
        Please Login
      </div>
        <!-- <div id="chart">
              
        <apexchart type="line" height="220" :options="chartOptions" :series="series"></apexchart>
        <apexchart type="line" height="220" :options="chartOptions2" :series="series2"></apexchart>
        <apexchart type="line" height="220" :options="chartOptions3" :series="series3"></apexchart>
      </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Flow -->
<div class="modal fade" id="exampleModalFlow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">การควบคุม</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="chart">
        <apexchart type="line" height="300" :options="chartOptions4" :series="series4"></apexchart>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Pressure -->
<div class="modal fade" id="exampleModalPressure" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div id="chart">
        <apexchart type="line" height="300" :options="chartOptions5" :series="series5"></apexchart>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div style="  position:absolute;top: 140px;left: 1150px;z-index: 1;width:25%;"></div>
</div>
</body>
</html>
  
</template>

<script>
import VueApexCharts from "vue3-apexcharts";
export default {
  components: {
    apexchart: VueApexCharts,
  },
  data: function () {
    return {
      items: [{ message: 'Foo' }, { message: 'Bar' }],

      textpayload:{
        rwp01A:0.0,
        rwp02A:0.0,
        rwp03A:0.0,
        pressure:0.0,
      },
      motor1:false,
      motor2:false,
      motor3:false,
      valve1:false,
      valve2:false,
      valve3:false,
      series5: [
            {
              name: "Pressure",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions5: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#EF5350'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Pressure'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          }, 
      series4: [
            {
              name: "Flow Rate",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions4: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#F57F17'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Flow Rate'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          }, 
      series3: [
            {
              name: "Power",
              data: [200, 220, 230, 206, 202, 202, 223]
            },
          ],
          chartOptions3: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#F57F17'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Power'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },  
      series2: [
            {
              name: "Current",
              data: [2.1, 2.2, 2.3, 2.6, 2.2, 2.2, 2.3]
            },
          ],
          chartOptions2: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#545454'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Current'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },      
      series: [
            {
              name: "High - 2013",
              data: [220, 229, 223, 226, 222, 222, 223]
            },
          ],
          chartOptions: {
            chart: {
              height: 350,
              type: 'line',
              dropShadow: {
                enabled: true,
                color: '#000',
                top: 18,
                left: 7,
                blur: 10,
                opacity: 0.2
              },
              toolbar: {
                show: false
              }
            },
            colors: ['#77B6EA', '#545454'],
            dataLabels: {
              enabled: true,
            },
            stroke: {
              curve: 'smooth'
            },
            title: {
              text: 'Chart',
              align: 'left'
            },
            grid: {
              borderColor: '#e7e7e7',
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            markers: {
              size: 1
            },
            xaxis: {
              categories: ['10:10', '10:11', '10:12', '10:13', '10:14', '10:15', '10:16'],
              title: {
                text: 'time'
              }
            },
            yaxis: {
              title: {
                text: 'Voltage'
              },
        
            },
            legend: {
              position: 'top',
              horizontalAlign: 'right',
              floating: true,
              offsetY: -25,
              offsetX: -5
            }
          },
    };

    
  },

  methods: {
      

    updateChart() {
      const max = 90;
      const min = 20;
      const newData = this.series[0].data.map(() => {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      });

      const colors = ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0"];

      // Make sure to update the whole options config and not just a single property to allow the Vue watch catch the change.
      this.chartOptions = {
        colors: [colors[Math.floor(Math.random() * colors.length)]],
      };

      // In the same way, update the series option
      this.series = [
        {
          data: newData,
        },
      ];
      /** If i try to change the type i will get an error */
      this.type = "line";
    },
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #18bd31;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(203, 203, 203);
}
div
{
    font-family: 'Prompt', sans-serif;
    /* font-family: 'Itim', cursive; */
    /* color: rgb(92, 91, 91); */
}
.nav-pills .nav-link.active {
    /* background-color: hsl(130, 500%, 61%) !important; */
    background-color:#18a6ed96!important;
    color: #ffffff !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(22, 117, 65);
  border-radius: 50%;
  display: inline-block;
}
.sidebar {
position: fixed 
}


</style>