<template>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img style="width:320px;"
                        src="../assets/Control/PapaLogo.png" > 
                      </div>
      
                      <form class="mt-3">
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example11" class="form-control"
                            placeholder="" />
                          <label class="form-label" for="form2Example11">Username</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example22" class="form-control" />
                          <label class="form-label" for="form2Example22">Password</label>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log
                            in</button>
                          <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                        </div>
      
                 
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h3 class="mb-4">การประปาส่วนภูมิภาค</h3>
                      <p class="small mb-0">การประปาส่วนภูมิภาค (กปภ.) เตรียมความพร้อมสาธารณูปโภคด้านน้ำประปาในเขตให้บริก าร 234 สาขาทั่วประเทศ เพื่อให้บริการประชาชนและนักท่องเที่ยวได้อย่างเพียงพอ........ Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </template>
  
  <script>
  // import VueApexCharts from "vue3-apexcharts";
  export default {
    components: {
      // apexchart: VueApexCharts,
    },
    data: function () {
      return {};
    },
  
    methods: {
      updateChart() {
        const max = 90;
        const min = 20;
        const newData = this.series[0].data.map(() => {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        });
  
        const colors = ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0"];
  
        // Make sure to update the whole options config and not just a single property to allow the Vue watch catch the change.
        this.chartOptions = {
          colors: [colors[Math.floor(Math.random() * colors.length)]],
        };
  
        // In the same way, update the series option
        this.series = [
          {
            data: newData,
          },
        ];
        /** If i try to change the type i will get an error */
        this.type = "line";
      },
    },
  };
  </script>
  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  div
  {
      font-family: 'Prompt', sans-serif;
      /* font-family: 'Itim', cursive; */
      /* color: rgb(92, 91, 91); */
  }
  .nav-pills .nav-link.active {
      /* background-color: hsl(130, 500%, 61%) !important; */
      background-color:#18a6ed96!important;
      color: #ffffff !important;
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: rgb(22, 117, 65);
    border-radius: 50%;
    display: inline-block;
  }
  .sidebar {
  position: fixed 
  }

  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0f85c1c0, #18a6ed96, #18a6ed6f, #18a6ed96);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0f85c1c0, #18a6ed96, #18a6ed6f, #18a6ed96);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
  </style>