<template>

    <!DOCTYPE html>
    <html>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  
    
    <!-- Sidebar -->
   <!-- <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:14%">
      <div class="w3-bar-item h3 mt-3">สถานี</div>
      <router-link class="w3-bar-item w3-button text-info  fs-6" to="/1">แพสูบน้ำดิบลำตะคอง</router-link>
      <router-link class="w3-bar-item w3-button fs-6" to="/2">สถานีผลิตน้ำจ่ายน้ำสี่คิ้ว</router-link>
      <router-link class="w3-bar-item w3-button fs-6" to="/3">สถานีจ่ายน้ำสูงเนิน</router-link>
      <router-link class="w3-bar-item w3-button fs-6" to="/4">สถานีจ่ายน้ำขามทะเลสอ</router-link>
      <router-link class="w3-bar-item w3-button fs-6" to="/5">สถานีจ่ายน้ำหนองรี</router-link>
    </div> -->
     
    <!-- Page Content -->
    <div class="" style="  position:absolute;
    top: 30px;
    left: 380px;
    z-index: 1;
    width:70%;
    ">
      <div class="fs-3 pt-4 ms-3">Setting | <router-link class="w3-bar-item w3-button  text-info  fs-5" to="/"> กลับไปยังหน้าหลัก</router-link> </div>
      
   
  
    </div>
   
  
    
  
  
    </html>
    
  </template>
  
  <script>
  // import VueApexCharts from "vue3-apexcharts";
  export default {
    components: {
      // apexchart: VueApexCharts,
    },
    data: function () {
      return {};
    },
  
    methods: {
      updateChart() {
        const max = 90;
        const min = 20;
        const newData = this.series[0].data.map(() => {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        });
  
        const colors = ["#008FFB", "#00E396", "#FEB019", "#FF4560", "#775DD0"];
  
        // Make sure to update the whole options config and not just a single property to allow the Vue watch catch the change.
        this.chartOptions = {
          colors: [colors[Math.floor(Math.random() * colors.length)]],
        };
  
        // In the same way, update the series option
        this.series = [
          {
            data: newData,
          },
        ];
        /** If i try to change the type i will get an error */
        this.type = "line";
      },
    },
  };
  </script>
  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  div
  {
      font-family: 'Prompt', sans-serif;
      /* font-family: 'Itim', cursive; */
      /* color: rgb(92, 91, 91); */
  }
  .nav-pills .nav-link.active {
      /* background-color: hsl(130, 500%, 61%) !important; */
      background-color:#18a6ed96!important;
      color: #ffffff !important;
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: rgb(22, 117, 65);
    border-radius: 50%;
    display: inline-block;
  }
  .sidebar {
  position: fixed 
  }
  </style>