<template>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">สถานีผลิตน้ำสำนักงาน กปภ. สาขาสีคิ้ว</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
       
          </li>
 
        </ul>
   
      </div>
    </div>
  </nav> -->
  <router-view />
  <!-- <dashboard/> -->
  <!-- <indashboard/> -->
</template>

<script>
// import SocketioService from './services/socketio.service.js';
// import HelloWorld from './components/HelloWorld.vue'
// import dashboard from './components/dashboard.vue'
// import indashboard from './components/indashboard.vue'
// import center from './components/centerfile.js'
export default {

  name: 'App',
  components: {
  // globalVar:123
    // dashboard,
    // indashboard,
    // aaa:SocketioService.aaa,
  },
   
  // created: function() {
  //   console.log("Starting connection to WebSocket Server")
  //   this.connection = new WebSocket("ws://localhost:8081")

  //   this.connection.onmessage = function(event) {
  //     console.log(event);
  //   }

  //   this.connection.onopen = function(event) {
  //     console.log(event)
  //     console.log("Successfully connected to the echo websocket server...")
  //   }

  // },
  
  // created() {
  //   SocketioService.setupSocketConnection();
  //   console.log(SocketioService.aaa)
  // },
  // beforeUnmount() {
  //   SocketioService.disconnect();
  // }
}

</script>
   
<style>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
</style>
